
{% extends 'base.html' %}
{% block title %}Home - My Site{% endblock %}

{% load static %}  <!-- Ajout de la directive load static -->

{% block content %}

<img src="{% static 'drapo.png' %}" alt="" width="400" height="100" class="auto-height" style="margin-right: 100px;">                         
<img src="{% static 'drapo2.png' %}" alt="" width="200" height="100" class="auto-height" style="margin-right: 50px;">                         
<img src="{% static 'logo1.png' %}" alt="" width="400" height="100" class="auto-height">
<p style = "text-align:center;"> 
    <h1  style="color: rgb(255, 0, 4); text-align:center;">Bienvenue sur notre site</h1>
    <h4 style="color: #0c0c0c; text-align:center;">Calcul de l’Indice National des Prix à la Consommation (INPC)</h4>
    <a href="{% url 'famille_list' %}" class="btn btn-success mb-3">Entrer dans le projet</a>
    
</p>
<p style = "text-align:center;"><img src="{% static 'face.jpg' %}"   width="50" height="60" class="auto-height"> ,</p>

   <p style = "text-align:center;"> <a  href="https://web.facebook.com/ansade.rim" target="_blank">https://web.facebook.com/ansade.rim</a></p>
{% endblock %}
<!-- blog/templates/blog/article_detail.html -->

https://ansade.mr/fr/bulletin-trimestriel-de-conjoncture-t3-2022/#
