{% block title %}Home - My Site{% endblock %}

{% load static %}  <!-- Ajout de la directive load static -->

{% block content %}
<img src="{% static 'logo.jpg' %}" alt="" width="1200" height="200" class="auto-height">
<p>
    <h1 style="color: rgb(255, 98, 0);">Bienvenue sur notre site</h1>
    <h4 style="color: rgb(255, 0, 200);">Calcul de l'Indice National des Prix de la Consommation (INPC)</h4>
  </p>
  <!-- Ajoutez un lien vers la nouvelle page -->
  <a href="{% url 'famille_list' %}" class="btn btn-success">Entrer dans le projet</a>
{% endblock %}
