{% extends "base.html" %}

{% block title %}<title>Evolution des Prix pour {{ product }}</title>{% endblock %}

{% block content %}
    <h1 style="background-color:hwb(134 8% 26%); color: hsla(0, 83%, 34%, 0.863); text-align:center;">Evolution des Prix pour {{ product }}</h1>
    
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <canvas id="priceChart" width="400" height="200"></canvas>
    
    <script>
        // Retrieve data from Django context
        var labels = JSON.parse('{{ labels|safe }}');
        var values = JSON.parse('{{ values|safe }}');

        // Create the chart
        var ctx = document.getElementById('priceChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '{{ product }}',
                    data: values,
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',  // Background color of the dataset
                    borderWidth: 2,
                    pointRadius: 2,
                    pointHoverRadius: 4,
                    tension: 0.4
                }]
            },
            options: {
                // Your chart configuration options here
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date',
                        },
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Prix',
                        },
                    }],
                },
            }
        });
    </script>
{% endblock %}
