{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Liste de Familles des Produits</h2>
    <a href="{% url 'famille_create' %}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Nouveau Famille</a>
    <div class="mb-3">
        <a href="{% url 'export_view' model_name='famille' %}" class="btn btn-primary"><i class="fas fa-upload"></i> Export Familles</a>
        <a href="{% url 'import_view' model_name='famille' %}" class="btn btn-danger"><i class="fas fa-download"></i> Import Familles</a>
      </div>
    <table class="table table-success">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">label</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for family in famille_list %}
            <tr>
                <td>{{ family.id }}</td>
                <td>{{ family.nom }}</td>
                <td>
                    <a href="{% url 'famille_detail' family.pk %}" class="btn btn-info btn-sm"><i class="fas fa-layer-group"></i> Détail</a>
                    <a href="{% url 'famille_update' family.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-tag"></i> Modifier</a>
                    <a href="{% url 'famille_delete' family.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette Famille ?')"><i class="fas fa-shopping-basket"></i> Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
